.contextOverlay{

position:fixed;

left:0;
top:0;

width:100vw;
height:100vh;

z-index:200000;

}

.contextMenu{

position:fixed;

width:250px;

padding:20px;

background:rgba(0, 0, 0, 0.96);

border:2px solid #0047AB;

border-radius:16px;

box-shadow:
0 0 25px rgba(0,71,171,.7),
0 0 60px rgba(0,71,171,.35);

backdrop-filter:blur(16px);

animation:menuShow .18s ease;

}

.contextTitle{

color:white;

font-size:21px;

font-weight:700;

margin-bottom:12px;

}

.contextText{

color:#d7d7d7;

margin-bottom:18px;

}

.contextButtons{

display:flex;

justify-content:space-between;

gap:12px;

}

.contextButtons .yesBtn{


flex:1;

padding:11px;

border:2px solid #0047AB;

border-radius:10px;

font-weight:bold;

cursor:pointer;

transition:.2s;

}

.contextButtons .noBtn{


flex:1;

padding:11px;

border:2px solid #d92b2b;

border-radius:10px;

font-weight:bold;

cursor:pointer;

transition:.2s;

}

.yesBtn{

background:#000000;

color:white;

}

.yesBtn:hover{

background:#000000;

transform:scale(1.05);

}

.noBtn{

background:#000000;

color:white;

}

.noBtn:hover{

background:#000000;

transform:scale(1.05);

}

@keyframes menuShow{

from{

opacity:0;

transform:scale(.85);

}

to{

opacity:1;

transform:scale(1);

}

}